.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header__topbar {
  height: 4px;
  background-color: #1a202c;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0 1.125rem 0;
}
@media only screen and (min-width: 64.0625em) {
  .header__nav {
    padding-top: 1.125rem;
  }
}

.logo {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #1a202c;
}
@media only screen and (min-width: 64.0625em) {
  .logo {
    width: 6.25rem;
    height: 6.255rem;
  }
}

.btn {
  font-size: 0.875rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem;
  background-color: #1a202c;
  color: #f7fafc;
}

.btn--large {
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 1.5rem;
}

.btn--fluid {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.hero {
  background-color: #cbd5e0;
}

.hero__outer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero__inner {
  position: absolute;
  bottom: 100px;
  width: calc(100% - 1.75rem);
  transform: translateX(0.875rem);
}
@media only screen and (min-width: 40.0625em) {
  .hero__inner {
    bottom: auto;
    top: 50%;
    transform: translate(0.875rem, -50%);
    width: calc(100% - 1.75rem);
  }
}
@media only screen and (min-width: 64.0625em) {
  .hero__inner {
    transform: translate(2rem, -50%);
  }
}

@media only screen and (min-width: 40.0625em) {
  .hero__content {
    width: 75%;
  }
}
@media only screen and (min-width: 64.0625em) {
  .hero__content {
    width: 41.6666666667%;
  }
}

.hero__title {
  display: none;
}
@media only screen and (min-width: 40.0625em) {
  .hero__title {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
}

.wrapper {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}
@media only screen and (min-width: 64.0625em) {
  .wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container {
  max-width: 1324px;
  margin-left: auto;
  margin-right: auto;
}

.container--small {
  max-width: 62.5rem;
}

.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.service {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 40.0625em) {
  .service {
    display: flex;
    width: 100%;
    margin-left: -0.875rem;
    margin-right: -0.875rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  .service > * {
    flex: 1;
  }
}

@media only screen and (min-width: 40.0625em) {
  .service:first-child .service__info {
    padding-left: 1rem;
  }

  .service:nth-child(2) .service__info {
    padding-right: 1rem;
  }
}

.service__title {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  color: #1a202c;
}

.service__body {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.3;
  margin-bottom: 0.875rem;
  color: #2d3748;
}

.service__img {
  background-color: #718096;
}

.footer {
  background-color: #1a202c;
  color: #f7fafc;
}

@media only screen and (min-width: 40.0625em) {
  .footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.contact__title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #cbd5e0;
  margin: 0 6px;
  border-radius: 5px;
}

.list--flex {
  display: flex;
}

.legal {
  font-size: 0.75rem;
  text-align: center;
  padding: 2rem 0;
  border-top: 0.5px solid #2d3748;
}
@media only screen and (min-width: 40.0625em) {
  .legal {
    border-top: none;
  }
}
